@page "{id:int?}"
@model SocialMediaFreelas.Pages.Freelancers.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Freelancer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="FreelancerUpdateModel.Id"/>

            <div class="form-group">
                <label asp-for="FreelancerUpdateModel.NumeroDocumento" class="control-label"></label>
                <input asp-for="FreelancerUpdateModel.NumeroDocumento" class="form-control" />
                <span asp-validation-for="FreelancerUpdateModel.NumeroDocumento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FreelancerUpdateModel.Nome" class="control-label"></label>
                <input asp-for="FreelancerUpdateModel.Nome" class="form-control" />
                <span asp-validation-for="FreelancerUpdateModel.Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FreelancerUpdateModel.DataNascimento" class="control-label"></label>
                <input asp-for="FreelancerUpdateModel.DataNascimento" type="date" class="form-control" />
                <span asp-validation-for="FreelancerUpdateModel.DataNascimento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FreelancerUpdateModel.Email" class="control-label"></label>
                <input asp-for="FreelancerUpdateModel.Email" class="form-control" />
                <span asp-validation-for="FreelancerUpdateModel.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FreelancerUpdateModel.Telefone" class="control-label"></label>
                <input asp-for="FreelancerUpdateModel.Telefone" class="form-control" />
                <span asp-validation-for="FreelancerUpdateModel.Telefone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FreelancerUpdateModel.PretensaoSalarial" class="control-label"></label>
                <input asp-for="FreelancerUpdateModel.PretensaoSalarial" class="form-control" />
                <span asp-validation-for="FreelancerUpdateModel.PretensaoSalarial" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
