@page "{id:int?}"
@model SocialMediaFreelas.Pages.Clientes.DetailsModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Details</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="ClienteViewModel.Id"/>

            <div class="form-group">
                <label asp-for="ClienteViewModel.NumeroDocumento" class="control-label"></label>
                <input asp-for="ClienteViewModel.NumeroDocumento" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label asp-for="ClienteViewModel.Nome" class="control-label"></label>
                <input asp-for="ClienteViewModel.Nome" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label asp-for="ClienteViewModel.DataNascimento" class="control-label"></label>
                <input asp-for="ClienteViewModel.DataNascimento" type="date" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label asp-for="ClienteViewModel.Email" class="control-label"></label>
                <input asp-for="ClienteViewModel.Email" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label asp-for="ClienteViewModel.Telefone" class="control-label"></label>
                <input asp-for="ClienteViewModel.Telefone" class="form-control" disabled />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
