@page "{id:int}"
@model SocialMediaFreelas.Pages.Experiencias.CreateModel
@{
    ViewData["Title"] = "Adicionar";
}
@*
<style>
body {
     background: #f7f7f7;
    font-family: 'Roboto', sans-serif;
}

.registration-form {
    padding: 50px 0;
}

.registration-form form {
    background: #fff;
    max-width: 400px;
    margin: auto;
    padding: 30px 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-radius: 30px;
    box-shadow: 0px 2px 10px 0px #f7f7f7;
}

.registration-form .form-icon {
    text-align: center;
    background-color: #5891ff;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
}
.registration-form .form-group {
    margin-bottom: 20px;
}

.registration-form .form-control {
    border: 2px solid #d7d7d7;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    height: 40px;
}

.registration-form .form-control:focus {
    border-color: #5891ff;
    box-shadow: 0 0 8px 0 #5891ff;
}

.registration-form .create-account {
    background: #5891ff;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
}

.registration-form .create-account:hover {
    background: #4478e3;
}


</style>*@

<style>
    html, body {
        height: 100%;
        margin: 0;
        overflow: hidden;
        background-color: #dee9ff;
    }

    .registration-form {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        margin-top: 10vh;
    }

        .registration-form form {
            background-color: #fff;
            max-width: 600px;
            width: 100%;
            padding: 40px 20px;
            border-radius: 30px;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
        }

        .registration-form .form-icon {
            text-align: center;
            background-color: #5891ff;
            border-radius: 50%;
            font-size: 40px;
            color: white;
            width: 100px;
            height: 100px;
            margin: auto;
            margin-bottom: 30px;
            line-height: 100px;
        }

        .registration-form .item {
            border-radius: 20px;
            margin-bottom: 20px;
            padding: 10px 20px;
        }

        .registration-form .create-account {
            border-radius: 30px;
            padding: 10px 20px;
            font-size: 18px;
            font-weight: bold;
            background-color: #5791ff;
            border: none;
            color: white;
            margin-top: 20px;
        }

        .registration-form .social-media {
            max-width: 600px;
            background-color: #fff;
            margin: auto;
            padding: 25px 0;
            text-align: center;
            border-radius: 30px;
            color: #9fadca;
            border-top: 1px solid #dee9ff;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
        }

        .registration-form .social-icons {
            margin-top: 20px;
            margin-bottom: 16px;
        }

            .registration-form .social-icons a {
                font-size: 23px;
                margin: 0 3px;
                color: #5691ff;
                border: 1px solid;
                border-radius: 50%;
                width: 45px;
                display: inline-block;
                height: 45px;
                text-align: center;
                background-color: #fff;
                line-height: 45px;
            }

                .registration-form .social-icons a:hover {
                    text-decoration: none;
                    opacity: 0.6;
                }

        /* Estilos para o layout de duas colunas */
        .registration-form .form-row {
            display: flex;
            justify-content: space-between;
        }

        .registration-form .form-column {
            display: flex;
            flex-direction: column;
            width: 48%; /* Ajuste a largura conforme necessário */
        }

    /* Responsividade */
    @@media (max-width: 576px) {
        .registration-form form {
            padding: 40px 15px;
        }

        .registration-form .form-icon {
            width: 70px;
            height: 70px;
            font-size: 30px;
            line-height: 70px;
        }

        .registration-form {
            margin-top: 5vh;
        }
            /* Ajuste as colunas para empilhar verticalmente em telas menores */
            .registration-form .form-row {
                flex-direction: column;
            }

            .registration-form .form-column {
                width: 100%; /* Colunas ocupam toda a largura em telas pequenas */
            }
    }
</style>


<div class="registration-form">
    <form id="create-experience-form" method="post">
        <div class="form-icon">
            <span><i class="icon icon-briefcase"></i></span>
        </div>
<div class="form-row">
<div class="form-column">
        <label class="control-label">Freelancer</label>
        <input type="search" list="mylistFreelancers" autocomplete="off" asp-for="ExperienciaInputModel.FreelancerIdByString" id="inputSelectFreelancer" class="form-control">
            <datalist id="mylistFreelancers">
                <option disabled>Selecione</option>
                @if (Model.ExperienciaInputModel != null)
                {
                    foreach (var freelancer in Model.ExperienciaInputModel.Freelancers)
                    {
                        <option value="@freelancer.Id">@freelancer.Nome</option>
                    }
                }
            </datalist>

            <div class="form-group">
                <label asp-for="ExperienciaInputModel.Projeto" class="control-label"></label>
                <input asp-for="ExperienciaInputModel.Projeto" class="form-control" />
                <span asp-validation-for="ExperienciaInputModel.Projeto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExperienciaInputModel.Empresa" class="control-label"></label>
                <input asp-for="ExperienciaInputModel.Empresa" class="form-control" />
                <span asp-validation-for="ExperienciaInputModel.Empresa" class="text-danger"></span>
            </div>
</div>
<div class="form-column">
        <div class="form-group">
            <label asp-for="ExperienciaInputModel.Tecnologia" class="control-label"></label>
            <input asp-for="ExperienciaInputModel.Tecnologia" class="form-control" />
            <span asp-validation-for="ExperienciaInputModel.Tecnologia" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ExperienciaInputModel.Valor" class="control-label"></label>
            <input asp-for="ExperienciaInputModel.Valor" class="form-control" />
            <span asp-validation-for="ExperienciaInputModel.Valor" class="text-danger"></span>
        </div>
        <div class="form-group">
            <select class="form-control my-3" id="rating" asp-for="ExperienciaInputModel.Avaliacao" required>
                <option value="" disabled selected>Avaliação</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
</div>
</div>
        <div class="form-group">
            <button type="submit" class="btn btn-block create-account">Cadastrar Experiência</button>
        </div>
    </form>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>