@page
@model SocialMediaFreelas.Pages.Experiencias.IndexModel
@{
    ViewData["Title"] = "Geral";
}


<style>
    .icon {
        color: cornflowerblue;
    }

    #footer 
    {
        display: none;
    }
</style>



<div class="container mt-5">

    <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#idDoElementoParaAtualizar">
        <div class="row mb-4">
            <div class="col-12">
                <input class="form-control form-control-lg" name="query" id="callAjaxQuery" type="text" placeholder="Pesquisar experiências...">
            </div>
        </div>
    </form>
    <div id="idDoElementoParaAtualizar">
        <div class="row">
            @if (Model.Response != null)
            {
                foreach (var experiencia in Model.Response)
                {
                    <!-- Card Experiência 1 -->
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">@experiencia.Projeto</h5>
                                <h6 class="card-subtitle mb-2 text-muted">@experiencia.Empresa</h6>
                                <p class="card-text"><small class="text-muted">@experiencia.Tecnologia</small></p>

                                <p class="card-text">R$@experiencia.Valor</p>

                                <p class="card-text">
                                    Avaliação do cliente:
                                    @for (int i = 0; i < experiencia.Avaliacao; i++)
                                    {
                                        <span><i class="icon icon-diamond"></i></span>
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

    $('input[type="text"]').on('keyup', function() {
    var form = $(this).closest('form');
    $.ajax({
        url: form.attr('action'),
        type: form.attr('method'),
        data: form.serialize(),
        success: function(response) {
            // Atualiza o elemento com a resposta da PartialView
            $('#idDoElementoParaAtualizar').html(response);
        },
        error: function() {
            alert('Erro ao atualizar os dados.');
        }
    });
    });
    </script>
}