@page "{id:int?}"
@model SocialMediaFreelas.Pages.Vagas.DetailsModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Details</h1>

<h4>Vaga</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="VagaViewModel.Id"/>

            <div class="form-group">
                <label asp-for="VagaViewModel.ClienteId" class="control-label"></label>
                <input asp-for="VagaViewModel.ClienteId" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label asp-for="VagaViewModel.Titulo" class="control-label"></label>
                <input asp-for="VagaViewModel.Titulo" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label asp-for="VagaViewModel.Descricao" class="control-label"></label>
                <input asp-for="VagaViewModel.Descricao" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label asp-for="VagaViewModel.Cargo" class="control-label"></label>
                <input asp-for="VagaViewModel.Cargo" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label asp-for="VagaViewModel.Tipo" class="control-label"></label>
                <input asp-for="VagaViewModel.Tipo" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label asp-for="VagaViewModel.Remuneracao" class="control-label"></label>
                <input asp-for="VagaViewModel.Remuneracao" class="form-control" disabled />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
