@page
@model SocialMediaFreelas.Pages.Vagas.IndexModel
@{
    ViewData["Title"] = "Geral";
}
<style>
 

    #containerVaga {
       /* background: green;*/
        display: flex;
        flex-direction: column;
        gap: 2vh;
        margin-top: 5vh;
        width: 100%;
        height: 100%;
        
    }

    #cardVaga {
        padding: 20px;
        margin-bottom: 20px;
    }
</style>

<div id="containerVaga">


    <div class="card custom-card m-auto" id="cardVaga">
        <div class="card-body d-flex flex-column">
            <div>
                <h5 class="card-title">Vaga Desenvolvedor Jr</h5>
                <p class="card-text">Procuro desenvolvedor Jr para atuar como Frontend React</p>
            </div>
            <div class="mt-auto d-flex justify-content-between align-items-end">
                <p class="job-info mb-0">Desenvolvedor | Remoto | Integral</p>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-auto">
                <button class="btn btn-primary me-md-2" type="button">Detalhes</button>
            </div>
        </div>
    </div>

    <div class="card custom-card m-auto" id="cardVaga">
        <div class="card-body d-flex flex-column">
            <div>
                <h5 class="card-title">Vaga Desenvolvedor Jr</h5>
                <p class="card-text">Procuro desenvolvedor Jr para atuar como Frontend React</p>
            </div>
            <div class="mt-auto d-flex justify-content-between align-items-end">
                <p class="job-info mb-0">Desenvolvedor | Remoto | Integral</p>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-auto">
                <button class="btn btn-primary me-md-2" type="button">Detalhes</i></button>
            </div>
        </div>
    </div>

    <div class="card custom-card m-auto" id="cardVaga">
        <div class="card-body d-flex flex-column">
            <div>
                <h5 class="card-title">Vaga Desenvolvedor Jr</h5>
                <p class="card-text">Procuro desenvolvedor Jr para atuar como Frontend React</p>
            </div>
            <div class="mt-auto d-flex justify-content-between align-items-end">
                <p class="job-info mb-0">Desenvolvedor | Remoto | Integral</p>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-auto">
                <button class="btn btn-primary me-md-2" type="button">Detalhes</i></button>
            </div>
        </div>
    </div>

</div>